:root {
    --black: #020202ff;
    --dark-green: #0d2818ff;
    --pakistan-green: #04471cff;
    --sea-green: #058c42ff;
    --malachite: #16db65ff;
}
.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}
.card:hover {
    transform: translateY(-5px);
}
.card h3 {
    font-size: 1.8rem;
    font-weight: 600;
}
.card p {
    font-size: 1rem;
    color: var(--black);
}
