@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #020202ff;
    --dark-green: #0d2818ff;
    --pakistan-green: #04471cff;
    --sea-green: #058c42ff;
    --malachite: #16db65ff;
}

.btn {
    padding: 8px 25px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-lihat {
    background-color: white;
    color: var(--black);
    border: 2px solid var(--black);
}

.btn-lihat:hover {
    background-color: var(--black);
    color: white;
}

.btn-daftar {
    background-color: var(--sea-green);
    color: white;
    border: 2px solid var(--sea-green);
}

.btn-daftar:hover {
    background-color: var(--sea-green);
    color: white;
}


.bg {
  background-color: color-mix(in srgb, var(--malachite) 10%, white);
}

.text-inisial {
  color: var(--malachite);
}

.text-harga {
  color: var(--malachite);
}

.bi-person-fill {
  color: var(--malachite);
  font-size: 20px;;
}

/* rating sederhana */
.stars { color: var(--sea-green); font-weight: 700; letter-spacing: 1px; }