@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #020202ff;
    --dark-green: #0d2818ff;
    --pakistan-green: #04471cff;
    --sea-green: #058c42ff;
    --malachite: #16db65ff;
}

hr{
    color: var(--malachite);
}

body {
margin: 0;
height: 100vh;
display: flex;
font-family: "Poppins", sans-serif;
}

.sidebar {
width: 250px;
background-color: var(--black); /* warna sidebar */
color: white;
display: flex;
flex-direction: column;
}

.sidebar-content {
flex: 1;
overflow-y: auto;
padding: 1rem;
}

.sidebar a {
display: block;
color: white;
text-decoration: none;
padding: 0.75rem 1rem;
border-radius: 0.5rem;
}

.sidebar a:hover {
background-color: rgba(255, 255, 255, 0.1);
}

.logout-btn {
    background-color: var(--black);
    border: none;
    color: white;
    width: 100%;
    padding: 0.75rem;
    text-align: center;
    cursor: pointer;
}

.content {
flex: 1;
padding: 2rem;
overflow-y: auto;
background-color: #f8f9fa;
}